<div id="charity" class="charity-section">
    <div class="charity-card pink-card">
      <div class="charity-imgs">
        <img src="/public/assets/charity/charity1.svg" />
         <img src="/public/assets/charity/charity2.svg" />
      </div>

      <p class="charity-text">
        We participate in events for children's education, health initiatives, and disaster relief. Our ongoing involvement makes a positive difference in communities worldwide.
      </p>
    </div>
    <div class="charity-card white-card">
      <h3 class="charity-title">Charity</h3>
      <p class="charity-description">
        Our creative agency supports charities globally using our branding, marketing, and social media skills to make a positive impact and raise awareness for important causes.
      </p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="contact-section">
    <h2 class="contact-title">We are waiting for you to contact us</h2>
    <p class="contact-subtitle">You can write to us at any time and get an instant response.</p>
    <div class="contact-email-box">
      <input type="email" placeholder="Enter your Email" />
      <button>Join</button>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="footer-left">
      <p>© Copywriting</p>
    </div>
    <div class="footer-center">
      <a href="#partners">Partners</a>
      <a href="#process">How we Work</a>
      <a href="#testimonials">Review</a>
      <a href="#charity">Charity</a>
    </div>
    <div class="footer-right">
      <a href="#" class="social-icon"><img class="filterImg" src="public/assets/footer/instagram.svg" alt="Instagram" /></a>
      <a href="#" class="social-icon"><img  src="public/assets/footer/facebook.svg" alt="Facebook" /></a>
      <a href="#" class="social-icon"><img class="filterImg" src="public/assets/footer/linkedin.svg" alt="LinkedIn" /></a>
    </div>
  </div>
</div>